<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <controlSources>
            <source mode="on" namespace="Vhs.ImageCoordinatePickerField.Fields"
                    assembly="Vhs.ImageCoordinatePickerField" prefix="vhs" />
        </controlSources>

        <settings>
            <setting name="Vhs.ImageCoordinatePickerField.DialogWidth" value="800"/>
            <setting name="Vhs.ImageCoordinatePickerField.DialogHeight" value="600"/>

            <setting name="Vhs.ImageCoordinatePickerField.ImageFieldName" value="HeroImage|BannerImage"/>

            <setting name="Vhs.ImageCoordinatePickerField.ImageAlternateText"
                    value="There is NO image in the parent item."/>
        </settings>
    </sitecore>
</configuration>